/* app css stylesheet */

body {
  background-color: black;
  font-family: 'Venir', sans-serif;
  color: gray;
}

.launch-text {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
